<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnagvry@cbfgrb.qr</string>
	<key>contactName</key>
	<string>Ånthokolski</string>
	<key>description</key>
	<string>A port of the sublime CJSX syntax for TextMate with some finetuning. 

Github: https://github.com/dantiel/textmate-cjsx</string>
	<key>name</key>
	<string>CJSX</string>
	<key>uuid</key>
	<string>8FBCECF4-2E7D-422C-9FF5-7FAB4C65499E</string>
</dict>
</plist>
